.App {
  height: 100%;

  background: linear-gradient(
    180deg,
    #7dabffe1 2%,
    rgba(156, 218, 255, 0.9145299145299145) 31%,
    rgba(177, 255, 244, 0.88) 71%
  );
}
.main-cont {
  background-color: rgba(245, 255, 253, 0.966);
  max-width: 960px;
  box-shadow: 10px 10px 20px 7px #0a5466bf;
}
